.Active {
    width: 1160px;
    /* height: 445px; */
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    gap: 28px;
    border: 0;
  }
  
  .ActiveName{
    user-select: none;
    width: 1160px;
    height: 49px;
    border-bottom: 1px solid var(--default-color-04);
    gap: 16px;
  }
  
  .ActiveName >span {
    font-size: 24px;
    font-weight: 600;
    color: var(--default-color-01);
  }
  
  .ActiveCards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 32px; 
}

  .ActivePage {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1160px){
    .Active{
      width: 344px;
    }

    .ActiveName{
      width: 344px;
    }
    .ActiveCards{
      grid-template-columns: repeat(2, 1fr); 
      gap: 16px;
    }
  }