:root{
--default-color-06: #FDFDFD;
--default-color-05: #F4F4F4;
--default-color-04: #DADADA;
--default-color-03: #9C9C9C;
--default-color-02: #595959;
--default-color-01: #161616;
--accent: #22A0BC;
}
/* *{
  border: 1px solid green;
} */
body{
  background-color: #bdbdbd;
}

html {
  font-family: 'Manrope', sans-serif;
}
